/* CSS from https://artofproblemsolving.com/assets/dist/v2159/css/ */
/* main-head.css */
/* 243-267 */
button,
html,
input,
select,
textarea {
	color: #333;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio,
canvas,
img,
video {
	vertical-align: middle;
}

/* 442-452 */
body {
	font-family: Roboto, sans-serif;
}

/* 480-482 */
ul {
	list-style-type: square;
}

/* 521-539 */
*,
:after,
:before {
	box-sizing: border-box;
}

.faux-link,
a {
	text-decoration: none;
	color: #376fc0;
	cursor: pointer;
}

.faux-link:hover,
a:hover {
	text-decoration: underline;
}

.faux-link:focus,
a:focus {
	outline: 0;
}

/* 2685-2688 */
img.latex {
	vertical-align: 0;
	-moz-transform: rotate(0);
}

/* 3039-3048 */
img.asy-image,
img.latexcenter {
	display: block;
	margin: auto;
	padding: 1em 0;
	box-sizing: content-box;
	-moz-transform: rotate(0);
	max-width: 100%;
	height: auto;
}

/* community_common.css */
/* 1762-1771 */
body {
	line-height: 19px;
	font-size: 15px;
}

/* 2059-2184 */
a.cmty-hide-heading,
span.cmty-hide-heading {
	text-decoration: none;
	color: #e06800;
	background-color: #f9e1cc;
	border-radius: 2px;
}

.cmty-hide-heading,
.cmty-tip-header {
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 3px;
	margin-right: 3px;
	text-decoration: none;
}

a.cmty-hide-heading:hover,
span.cmty-hide-heading:hover {
	text-decoration: none;
	color: #fff;
	background-color: #e06800;
}

div.cmty-hide-content {
	display: none;
}

span.cmty-hide-open~div.cmty-hide-content {
	display: block;
}

.bbcode_quote,
.cmty-hide-content {
	position: relative;
	border-radius: 0 14.5px 14.5px 14.5px;
	padding: 6px 10px 4px 20px;
	margin: 12px;
	z-index: 2;
	min-height: 29px;
}

.cmty-hide-content {
	font-size: 15px !important;
}

.bbcode_quote:before {
	content: "";
	background: url(https://artofproblemsolving.com/assets/images/quote.svg);
	padding: 4px 6.5px;
}

.cmty-hide-content::before {
	content: "";
	background: url(https://artofproblemsolving.com/assets/images/eye.svg);
	padding: 4px 4px;
}

.bbcode_quote::after,
.bbcode_quote::before,
.cmty-hide-content::after,
.cmty-hide-content::before {
	width: 29px;
	height: 29px;
	position: absolute;
	top: 0;
	left: -11px;
	display: -webkit-flex;
	display: flex;
	padding-top: 5px;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.bbcode_quote::before,
.cmty-hide-content::before {
	border-width: 3px;
	border-style: solid;
	border-radius: 14.5px;
	background-size: 23px 23px;
	z-index: 3;
}

.bbcode_quote::after,
.cmty-hide-content::after {
	content: "";
	border-radius: 14.5px 0 0 14.5px;
	z-index: 1;
}

.bbcode_quote_head {
	margin-bottom: 5px;
	font-style: italic;
	font-size: 12px;
}

/* 3325-3387 */
.bbcode_quote,
.bbcode_quote .bbcode_quote .bbcode_quote,
.bbcode_quote .bbcode_quote .bbcode_quote .bbcode_quote_head,
.bbcode_quote .bbcode_quote .bbcode_quote::after,
.bbcode_quote .bbcode_quote .cmty-hide-content,
.bbcode_quote .bbcode_quote .cmty-hide-content::after,
.bbcode_quote .bbcode_quote_head,
.bbcode_quote .cmty-hide-content .bbcode_quote,
.bbcode_quote .cmty-hide-content .bbcode_quote .bbcode_quote_head,
.bbcode_quote .cmty-hide-content .bbcode_quote::after,
.bbcode_quote .cmty-hide-content .cmty-hide-content,
.bbcode_quote .cmty-hide-content .cmty-hide-content::after,
.bbcode_quote::after, .cmty-hide-content,
.cmty-hide-content .bbcode_quote .bbcode_quote,
.cmty-hide-content .bbcode_quote .bbcode_quote .bbcode_quote_head,
.cmty-hide-content .bbcode_quote .bbcode_quote::after,
.cmty-hide-content .bbcode_quote .cmty-hide-content,
.cmty-hide-content .bbcode_quote .cmty-hide-content::after,
.cmty-hide-content .cmty-hide-content .bbcode_quote,
.cmty-hide-content .cmty-hide-content .bbcode_quote .bbcode_quote_head,
.cmty-hide-content .cmty-hide-content .bbcode_quote::after,
.cmty-hide-content .cmty-hide-content .cmty-hide-content,
.cmty-hide-content .cmty-hide-content .cmty-hide-content::after,
.cmty-hide-content::after {
	background-color: #e6e6e6;
	color: #555;
}

.bbcode_quote .bbcode_quote,
.bbcode_quote .bbcode_quote .bbcode_quote_head,
.bbcode_quote .bbcode_quote:after,
.bbcode_quote .cmty-hide-content,
.bbcode_quote .cmty-hide-content:after,
.cmty-hide-content .bbcode_quote,
.cmty-hide-content .bbcode_quote .bbcode_quote_head,
.cmty-hide-content .bbcode_quote:after,
.cmty-hide-content .cmty-hide-content,
.cmty-hide-content .cmty-hide-content:after {
	background-color: #f2f2f2;
	color: #555;
}

.bbcode_quote .bbcode_quote:before,
.bbcode_quote .cmty-hide-content:before,
.cmty-hide-content .bbcode_quote:before,
.cmty-hide-content .cmty-hide-content:before {
	border-color: #f2f2f2;
	background-color: #fff;
	color: #ccc;
}

.bbcode_quote .bbcode_quote .bbcode_quote::before,
.bbcode_quote .bbcode_quote .cmty-hide-content::before,
.bbcode_quote .cmty-hide-content .bbcode_quote::before,
.bbcode_quote .cmty-hide-content .cmty-hide-content::before,
.bbcode_quote::before,
.cmty-hide-content .bbcode_quote .bbcode_quote::before,
.cmty-hide-content .bbcode_quote .cmty-hide-content::before,
.cmty-hide-content .cmty-hide-content .bbcode_quote::before,
.cmty-hide-content .cmty-hide-content .cmty-hide-content::before,
.cmty-hide-content::before {
	border-color: #e6e6e6;
	background-color: #fff;
	color: #ccc;
}
