body {
	line-height: 19px;
	font-family: Roboto, sans-serif;
	font-size: 15px;
	color: #333;
}

img.asy-image, img.latexcenter {
	display: block;
	margin: auto;
	padding: 1em 0;
	box-sizing: content-box;
	-moz-transform: rotate(0);
	max-width: 100%;
	height: auto;
}
